<div class='nav-container'>
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <p class='navbar-text'><b>Bulk Discounts</b></p>
    <ul class='nav navbar-nav'>
      <li><%= link_to 'Dashboard', merchant_bulk_discounts_path(@merchant), style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<%= render partial: 'form', locals: { path: merchant_bulk_discount_path(@merchant, @bulk_discount),
                                      method: :patch,
                                      button_text: 'Update Discount',
                                      quantity_threshold: "#{@bulk_discount.quantity_threshold}",
                                      percentage_discount: "#{@bulk_discount.percentage_discount}"
                                      } %>